{% extends 'base.html' %} {% block content %}

<style>
	/* Body Styles */

	body {
		background-color: #202124;
		color: #fff;
	}
	/* Admin Page Styles */

	.admin-page {
		max-width: 800px;
		margin: 0 auto;
		padding: 50px;
	}

	.admin-page h1 {
		font-size: 3rem;
		margin-bottom: 30px;
	}

	.admin-page h2 {
		font-size: 2rem;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.admin-page form {
		display: inline-block;
		margin-right: 20px;
	}

	.admin-page input[type="text"],
	.admin-page input[type="submit"] {
		padding: 10px 20px;
		border-radius: 5px;
		border: none;
		font-size: 1.2rem;
		color: #333;
	}

	.admin-page input[type="submit"] {
		background-color: #ff6700;
		color: #fff;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}

	.admin-page input[type="submit"]:hover {
		background-color: #f55900;
	}

	.admin-page .users {
		margin-top: 20px;
		list-style: none;
		padding: 0;
		font-size: 1.2rem;
	}

	.admin-page .users li {
		margin-bottom: 10px;
	}

	.admin-page .standby-form input[type="submit"] {
		background-color: #000000;
		color: #fff;
	}

	.admin-page .go-form input[type="submit"] {
		background-color: #ff6700;
		color: #fff;
	}

	.admin-page .pin-form input[type="submit"] {
		background-color: #333;
		color: #fff;
	}

	.admin-page label {
		font-size: 1.2rem;
		margin-right: 10px;
	}
	/* Orange Accent Color */

	.admin-page h2,
	.admin-page input[type="submit"] {
		color: #ff6700;
	}

	.admin-page .standby-form input[type="submit"],
	.admin-page .pin-form input[type="submit"] {
		background-color: #ff6700;
	}
</style>

<div class="admin-page">
	<h1>Admin Dashboard</h1>
	<h2>Current Users</h2>
	<ul class="users">
		{% for user in users %}
		<li>{{ user }}</li>
		{% endfor %}
	</ul>
	<form method="POST" action="/standby" class="standby-form">
		<input type="submit" value="Standby" />
		<script>
			const standbyForm = document.querySelector(".standby-form");
			standbyForm.addEventListener("submit", (event) => {
				event.preventDefault();
				socket.emit("standbye");
			});
		</script>
	</form>
	<h2>Go</h2>
	<form method="POST" action="/go" class="go-form">
		<input type="submit" value="Go" />
		<script>
			const goForm = document.querySelector(".go-form");
			goForm.addEventListener("submit", (event) => {
				event.preventDefault();
				socket.emit("go");
			});
		</script>
	</form>
	<h2>Standby</h2>

	<h2>Change Pin</h2>
	<form class="pin-form">
		<input type="text" name="pin" placeholder="Change Pin" />
		<input type="submit" value="Change Pin" />
		<label for="pin"> Current pin is </label>
		<script>
			const pinForm = document.querySelector(".pin-form");
			pinForm.addEventListener("submit", (event) => {
				event.preventDefault();
				socket.emit("changePin", {
					pin: pinForm.pin.value,
				});
			});
		</script>
	</form>
</div>

<script type="text/javascript" src="/socketJS"></script>

<script>
	const socket = io();
	socket.on("newUser", (data) => {
		console.log(data);
		console.log(data.users);
		// print out all keys in data
		document.querySelector(".users").innerHTML = "";
		for (const key in data.users) {
			const li = document.createElement("li");
			li.innerHTML = key;
			document.querySelector(".users").appendChild(li);
		}
	});
</script>
{% endblock %}
