<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | StageLink</title>
    <!-- Include Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Include Socket.io -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body class="bg-slate-950">
    <!-- StageLink Logo -->
    <div class="w-full h-[100px] absolute flex place-content-center items-center">
        <svg class="fill-green-500" xmlns="http://www.w3.org/2000/svg" height="75" width="75" viewBox="0 -960 960 960"><path d="M440-280H280q-83 0-141.5-58.5T80-480q0-83 58.5-141.5T280-680h160v80H280q-50 0-85 35t-35 85q0 50 35 85t85 35h160v80ZM320-440v-80h320v80H320Zm200 160v-80h160q50 0 85-35t35-85q0-50-35-85t-85-35H520v-80h160q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280H520Z"/></svg>
        <p class="text-white font-semibold text-5xl m-4">StageLink</p>
    </div>

    <div class="w-[100%] h-[100%] grid grid-cols-2" id="container">
        <!-- Login -->
        <div class="h-[100vh] flex place-content-center items-center">
            <div class="w-[30rem] h-[32rem] p-[1rem] rounded-3xl bg-slate-900" id="login">
                <p class="font-semibold text-4xl text-white text-center">• Login •</p>
                <div class="w-fit h-[20rem] mt-[4rem] [&_input]:m-[1rem] [&_input]:w-[18rem] [&_input]:h-[3rem]" id="login-form">
                    <input class="rounded-xl bg-blue-600 text-slate-900 placeholder-slate-900 font-semibold p-[1rem] focus:outline-none" type="email" placeholder="Email" id="email-input">
                    <input class="rounded-xl bg-blue-600 text-slate-900 placeholder-slate-900 font-semibold p-[1rem] focus:outline-none" type="password" placeholder="Password" id="password-input">
                </div>
            </div>
        </div>

        <!-- Show Selection -->
        <div class="h-[100vh] flex place-content-center items-center">
            <div class="w-[30rem] h-[32rem] p-[1rem] rounded-3xl bg-slate-900" id="show-selector">

            </div>
        </div>
    </div>
</body>
</html>