<!DOCTYPE html>
<html lang="en" class="w-screen h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Stage Manager Dashboard</title>
		<!-- Include Tailwind CSS -->
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- Include Socket.io -->
		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
		<!-- Include FlowBite for Dropdowns -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
			rel="stylesheet"
		/>

		<script defer src="/public/js/show.js"></script>
	</head>

	<script>
		const show_slug = "{{ show_slug }}";
	</script>

	<body
		class="bg-gray-100 dark:bg-slate-800 dark:text-white w-screen h-screen"
	>
		<div
			class="grid grid-cols-3 w-screen md:h-32 border-b-2 border-slate-700"
			id="show-info"
		>
			<div
				class="flex place-content-center border-r-2 border-slate-700"
				id="show-info"
			>
				<div class="grid grid-cols-1 md:h-32 place-content-center">
					<h1 class="text-4xl font-bold text-center" id="show-title">
						Show Title
					</h1>
					<h1
						class="text-xl font-bold text-center"
						id="show-elapsed-time"
					>
						00:00:00
					</h1>
				</div>
			</div>

			<div
				class="flex place-content-center items-center border-r-2 border-slate-700"
			>
				<div
					class="inline-flex rounded-md shadow-sm [&_button]:w-24 [&_button]:h-16"
					role="group"
				>
					<button
						type="button"
						class="px-4 py-2 text-sm font-medium text-gray-900 bg-white rounded-l-lg dark:bg-green-500 dark:text-white dark:hover:text-white dark:hover:bg-green-400 duration-150"
					>
						Go
					</button>
					<button
						type="button"
						class="px-4 py-2 text-sm font-medium text-gray-900 bg-white dark:bg-yellow-500 dark:text-white dark:hover:text-white dark:hover:bg-yellow-400 duration-150"
					>
						Standby
					</button>
					<button
						type="button"
						class="px-4 py-2 text-sm font-medium text-gray-900 bg-white rounded-r-md dark:bg-red-500 dark:text-white dark:hover:text-white dark:hover:bg-red-400 duration-150"
					>
						Stop
					</button>
				</div>
			</div>

			<div class="flex place-content-center items-center">
				<button
					id="multiLevelDropdownButton"
					data-dropdown-toggle="dropdown"
					class="text-white bg-slate-700 hover:bg-slate-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
					type="button"
				>
					Settings
					<svg
						class="w-2.5 h-2.5 ml-2.5"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 10 6"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m1 1 4 4 4-4"
						/>
					</svg>
				</button>
				<!-- Dropdown menu -->
				<div
					id="dropdown"
					class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
				>
					<ul
						class="py-2 text-sm text-gray-700 dark:text-gray-200"
						aria-labelledby="multiLevelDropdownButton"
					>
						<li>
							<a
								href="#"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
								>My Account</a
							>
						</li>
						<li>
							<a
								href="#"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
								>Switch Theme</a
							>
						</li>
						<li>
							<button
								id="doubleDropdownButton"
								data-dropdown-toggle="doubleDropdown"
								data-dropdown-placement="right-start"
								type="button"
								class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
							>
								Show Settings<svg
									class="w-2.5 h-2.5 ml-2.5"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 6 10"
								>
									<path
										stroke="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="m1 9 4-4-4-4"
									/>
								</svg>
							</button>
							<div
								id="doubleDropdown"
								class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
							>
								<ul
									class="py-2 text-sm text-gray-700 dark:text-gray-200"
									aria-labelledby="doubleDropdownButton"
								>
									<li>
										<a
											href="#"
											class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
											>Select Show</a
										>
									</li>
									<li>
										<a
											href="#"
											class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
											>Create Show</a
										>
									</li>
									<li>
										<a
											href="#"
											class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
											>Modify Show</a
										>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a
								href="#"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
								>Sign out</a
							>
						</li>
					</ul>
				</div>
				<h1
					class="text-xl font-bold text-center m-5 w-32 h-6"
					id="clock"
				>
					00:00:00
				</h1>
			</div>
		</div>
		<div class="w-screen md:mt-8">
			<div class="mb-8 w-screen grid grid-cols-3">
				<div class="flex place-content-center items-center [&_h1]:m-2">
					<h1 class="text-xl font-bold text-center">~</h1>
					<h1 class="text-xl font-bold text-center">Notes</h1>
					<h1 class="text-xl font-bold text-center">~</h1>
				</div>
				<div class="flex place-content-center items-center [&_h1]:m-2">
					<h1 class="text-xl font-bold text-center" id="show-act">
						Placeholder
					</h1>
					<h1 class="text-xl font-bold text-center">•</h1>
					<h1 class="text-xl font-bold text-center" id="show-scene">
						Placeholder
					</h1>
					<h1 class="text-xl font-bold text-center">•</h1>
					<h1 class="text-xl font-bold text-center" id="show-type">
						Placeholder
					</h1>
				</div>
				<div class="flex place-content-center items-center [&_h1]:m-2">
					<h1 class="text-xl font-bold text-center">~</h1>
					<h1 class="text-xl font-bold text-center">Cues</h1>
					<h1 class="text-xl font-bold text-center">~</h1>
				</div>
			</div>
			<div class="flex place-content-center">
				<!-- {{ url_for('default_camera_feed') }} -->
				<img
					src="/default_camera_feed"
					alt="stage-view"
					class="rounded-lg w-[650px] h-[450px] border-2 border-slate-700"
				/>
			</div>
		</div>

		<!-- server status in bottom left corner -->
		<div class="fixed bottom-0 left-0 m-[10px]">
			<div class="grid grid-cols-1 md:h-20 place-content-center">
				<p class="text-xs text-center">Server Status</p>
				<p class="text-xs text-center" id="serverStat">Connecting</p>
			</div>
		</div>
	</body>

	<script defer>
		const socket = io("http://localhost:5000");

		const timer = document.getElementById("show-elapsed-time");
		const clock = document.getElementById("clock");
		const serverStat = document.getElementById("serverStat");

		socket.on("connect", () => {
			console.log("connected");
			serverStat.innerText = "Connected";
		});
		socket.on("disconnect", () => {
			console.log("disconnected");
			serverStat.innerText = "Disconnected";
		});
	</script>

	<script defer>
		/* Clock */

		function updateClock() {
			const now = new Date();
			const time = now.toLocaleTimeString();
			clock.innerText = time;
		}

		setInterval(updateClock, 1000);

		/* Timer */

		let seconds = 0;
		let minutes = 0;
		let hours = 0;

		function updateTimer() {
			seconds++;
			if (seconds == 60) {
				seconds = 0;
				minutes++;
			}
			if (minutes == 60) {
				minutes = 0;
				hours++;
				hours = `0${hours}`;
			}

			if (seconds.toString().split(``).length == 1) {
				seconds = `0${seconds}`;
			} else {
				seconds = seconds.toString().trimStart();
			}

			if (minutes.toString().split(``).length == 1) {
				minutes = `0${minutes}`;
			} else {
				minutes = minutes.toString().trimStart();
			}

			if (hours.toString().split(``).length == 1) {
				hours = `0${hours}`;
			} else {
				minutes = minutes.toString().trimStart();
			}

			const time = `${hours}:${minutes}:${seconds}`;
			timer.innerText = time;
		}

		setInterval(updateTimer, 1000);
	</script>

	<script defer>
		/* Dark Mode */

		const toggle = document.querySelector("button");

		toggle.addEventListener("click", () => {
			document.body.classList.toggle("dark");
			toggle.classList.toggle("dark");
		});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</html>
